@media (max-width: 992px) {

    #heading {
        display: none;
    }

    #search {
        display: none !important;
    }

    #nav .drop button {
        display: none;
    }

    #nav .ring {
        display: none;
    }

    #nav {
        padding: 10px 0;
        background-color: white;
        border-radius: 0px;
        background-color: #EDEDED;
    }

    #news .row {
        justify-content: center;
        position: relative;
        width: 90%;
    }

    #news .row .image {
        display: block;
        width: 90%;
        height: 100%;
    }

    #news .row .details button {
        right: 0px;
    }

    #news .close .klose {
        right: 2px;
        top: 2px;
    }

    #news .dont {
        padding: 20px 0 !important;
    }

    #news .row .details {
        display: block;
        padding: 0;
        width: 100%;
        padding: 0 10px;
    }

    #subs form button {
        right: 10px;
    }

    #subs ul {
        padding-left: 0 !important;
        padding-top: 20px !important;
    }

    #subs .details {
        padding: 10px 20px;
    }

    #foot {
        padding-bottom: 95px;
    }

    #foot .inss {
        text-align: center;
    }

    #subs input {
        padding-right: 125px !important;
    }

    #foot .first {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    #foot .first .shop {
        padding-left: 20px;
        padding-bottom: 40px;
    }

    #foot .first .shop .or {
        text-align: center;
    }

    #foot .ins .row {
        justify-content: space-around !important;
        padding-left: 9px;
    }

    #foot .middle {
        text-align: left;
    }

    #foot .account {
        font-size: 17px !important;
        margin-bottom: 12px !important;
    }

    #subs input::placeholder {
        font-size: 14px;
    }

    #subs .logo {
        justify-content: left !important;
    }

    #foot .social .nope {
        justify-content: left !important;
    }

    #mini {
        padding: 20px 0;
    }

    #timer {
        padding: 0 10px;
    }

    #timer .container {
        padding: 60px 20px;
    }

    #timer .timer_main h4 {
        color: #FFE0E0;
    }

    #timer .timer_main p {
        color: #FFE0E0;
    }

    #timer .container {
        background-position: left !important;
    }

    #select {
        padding: 20px 3px;
    }

    #select .container {
        padding: 0 !important;
    }

    #select .select_body {
        display: block !important;
        justify-content: center !important;
    }

    #select .select_second {
        width: 100%;
        justify-content: center;
        padding-top: 10px;
    }

    #select .select_first {
        width: 100%;
        justify-content: space-between !important;
    }

    #select .select_first .one {
        width: 38%;
    }

    #select .select_first .two {
        width: 30%;
    }

    #select .select_first .three {
        width: 34%;
    }

    #select .select_first #categorySelect {
        padding: 8px;
        margin-right: 10px !important;
    }

    #result {
        border: 1px solid #e2e2e2;
    }

    #result .col-lg-8 {
        justify-content: center !important;
    }

    #result .col-lg-8 .filter {
        padding-right: 5px !important;
    }

    #result .col-lg-8 .x {
        padding: 0 6px;
    }

    #result .col-lg-8 .sec_cross {
        padding-left: 5px;
    }

    #result .col-lg-4 {
        justify-content: center !important;
        padding-top: 10px;
    }

    #item {
        background-color: #fff;
    }

    #item .boxes {
        width: 45%;
        margin-bottom: 20px;
        padding-bottom: 10px !important;
        background-color: #FFf;
    }

    #item .row {
        padding: 0 !important;
        margin: 0 !important;
    }

    #item .spans {
        top: 9px;
        right: 8px;
    }

    #item .spans ul li button {
        padding: 5px;
    }

    #item .sale span {
        font-size: 10px;
    }

    #item .sale {
        top: 5px;
        left: 7px;
    }

    #item .stock span {
        font-size: 10px;
    }

    #item .stock {
        top: 5px;
        left: 7px;
    }

    #item .slider ul li span{
        margin: 0 !important;
    }

    #item .slider{
        padding-top: 10px;
    }






}